include CMakeLists.txt
include CHANGELOG.md
include LICENSE
include README.md
include README.zh-CN.md
include CONTRIBUTING.md
include VERSIONING.md
include cpp/*.cpp
recursive-include docs *.md *.png
recursive-include examples *.csv *.md *.png *.xyz
recursive-include tests *.py
